*{
    box-sizing: border-box;
    margin: 0 ;
}
.container{
    width: fit-content; 
    height: 58px; 
    padding: 14px 40px 14px 20px; 
    display: flex; 
    gap: 7px;
    justify-content: space-around;
    border-radius: 50px;
}

.container .check{
    width: 24.96px ;
    height: 24.96px; 
}

.container p{
    font-size: 24px;
    font-weight: 400;
}